.formLoader {
    position: fixed;
    z-index: 99;
    background: rgba(0, 0, 0, 0.9);
    background-size: inherit;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}


/*thank you page*/

body#thankYou {
    margin: 0;
    background: url(../img/bg.jpg) #f3f3f3;
    background-size: auto;
    background-repeat: no-repeat;
}


#thankYou .container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

#thankYou .navbar {
    width: 100%;
}

#thankYou .logo {
    padding: 15px 0;
    margin: 0 auto;
}

#thankYou .circle {
    border: 6px solid #00293c;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    margin: 50px auto 0;
}

#thankYou i.material-icons {
    font-size: 75px;
    line-height: 1.3;
    color: #56bc06;
}

#thankYou h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 75px;
    margin: 25px auto 0;
    color: #00293c;
    padding: 10px;
}

#thankYou .lead {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    max-width: 630px;
    margin: 0 auto;
    padding: 10px;
}
.mModalOverlay {
    position:fixed;
    z-index: 9998;
    background-color: rgb(224, 224, 224);
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
.mThankYouModal {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    color:#192432;
    font-size:18px;
    height:150px;
    text-align: center;
}